



@media screen and (max-width: 700px) {
    .right-side{
      margin: 1rem 0;
      width:95%;
    }
  }
.profile{
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    flex-wrap: wrap;
}
.left-side{
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 320px;
    background-color: #F2F2F2;
    height: 528px;
    border-radius: 5px;
    margin-right: 2rem;
}
.up-side{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.down-side{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
    margin-left: 2rem;
}

.right-side{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    min-height: 528px;
    border-radius: 5px;  
    padding: 1rem;
    box-sizing: content-box;

}
.first-side{
    width: 60%;
    min-width: 320px;
}
.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.flex-row{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.data{
    min-height: 300px;

}
/* .user-data{
    margin-left: 5rem;
} */
.img-profile img{
    height: 143px;
    width: 143px;
    border: solid 1px #06aefc;
    border-radius: 50%;
    
}
.thered-side{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.thered-side img{
    width: 198px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
